Flows/GetAllOperatingStatesFlow.json
[
    {
        "id": "6d2e7c0a.f31074",
        "type": "tab",
        "label": "GetAllOperatingStates",
        "disabled": false,
        "info": "A sample how to get an access token and all operating states from our BridgeAPI."
    },
    {
        "id": "5af2559c.bc798c",
        "type": "http request",
        "z": "6d2e7c0a.f31074",
        "name": "HTTP GET acces token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://forcebridgehackathon.force.eco:25443/ffauth/oauth2.0/accessToken?client_id=GitHub&client_secret=GitHub&grant_type=client_credentials&scope=read%20write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "d3a8dacd.52e8d8"
            ]
        ]
    },
    {
        "id": "a35c407.7b5e24",
        "type": "inject",
        "z": "6d2e7c0a.f31074",
        "name": "Execute Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5af2559c.bc798c"
            ]
        ]
    },
    {
        "id": "c2234d41.36ff8",
        "type": "debug",
        "z": "6d2e7c0a.f31074",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "b438516c.8b6b88",
        "type": "function",
        "z": "6d2e7c0a.f31074",
        "name": "Prepare get all operating states HTTP request",
        "func": "var custom = \"Bearer \";\ncustom += msg.payload.access_token; \n\nmsg.payload ={};\nmsg.responseUrl={};\nmsg.responseCookies={};\nmsg.redirectList={};\n\nmsg.url = \"https://forcebridgehackathon.force.eco:24443/ffwebservices/api/v3/masterData/operatingStates\";\n\nmsg.headers = {\n    \"Authorization\" : custom,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 280,
        "wires": [
            [
                "d8c99464.940f2"
            ]
        ]
    },
    {
        "id": "d3a8dacd.52e8d8",
        "type": "json",
        "z": "6d2e7c0a.f31074",
        "name": "JSON Converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "b438516c.8b6b88",
                "c2234d41.36ff8"
            ]
        ]
    },
    {
        "id": "d8c99464.940f2",
        "type": "http request",
        "z": "6d2e7c0a.f31074",
        "name": "Execute HTTP GET request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 980,
        "y": 280,
        "wires": [
            [
                "a3de7553.06c3e"
            ]
        ]
    },
    {
        "id": "6b7bac64.252cc4",
        "type": "debug",
        "z": "6d2e7c0a.f31074",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 280,
        "wires": []
    },
    {
        "id": "a3de7553.06c3e",
        "type": "json",
        "z": "6d2e7c0a.f31074",
        "name": "JSON Converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1230,
        "y": 280,
        "wires": [
            [
                "6dbcceec.3b222"
            ]
        ]
    },
    {
        "id": "46cb443a.5db97c",
        "type": "comment",
        "z": "6d2e7c0a.f31074",
        "name": "...use access token in Header for HTTP Request to get all operating states",
        "info": "",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "6dbcceec.3b222",
        "type": "function",
        "z": "6d2e7c0a.f31074",
        "name": "Extract operating states",
        "func": "msg.payload = msg.payload._embedded.operatingStates;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1470,
        "y": 280,
        "wires": [
            [
                "6b7bac64.252cc4"
            ]
        ]
    }
]