Flows/GetCurrentStateofWorkplace.json
[
    {
        "id": "639988f9.0266c",
        "type": "tab",
        "label": "GetCurrentStateOfWorkplace",
        "disabled": false,
        "info": "A sample how to get an access token and operating state of a workplace from our BridgeAPI."
    },
    {
        "id": "566f17cc.8f848",
        "type": "debug",
        "z": "639988f9.0266c",
        "name": "Log request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "600c3a93.565a7c",
        "type": "http request",
        "z": "639988f9.0266c",
        "name": "HTTP GET acces token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://forcebridgehackathon.force.eco:25443/ffauth/oauth2.0/accessToken?client_id=GitHub&client_secret=GitHub&grant_type=client_credentials&scope=read%20write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "b2378e3c.63305"
            ]
        ]
    },
    {
        "id": "e674f158.b39a4",
        "type": "inject",
        "z": "639988f9.0266c",
        "name": "Execute Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "600c3a93.565a7c"
            ]
        ]
    },
    {
        "id": "51022bf4.ad3774",
        "type": "debug",
        "z": "639988f9.0266c",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "fbef2230.ac2438",
        "type": "function",
        "z": "639988f9.0266c",
        "name": "Add HTTP headers",
        "func": "var custom = \"Bearer \";\nvar workplaceNumber = \"R_WPL_04\"\ncustom += msg.payload.access_token; \n\nmsg.payload ={};\nmsg.responseUrl={};\nmsg.responseCookies={};\nmsg.redirectList={};\n\nmsg.url = \"https://forcebridgehackathon.force.eco:24443/ffwebservices/api/v3/workplaces?workplaceNumber=\" + workplaceNumber;\n\nmsg.headers = {\n    \"Authorization\" : custom,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 320,
        "wires": [
            [
                "566f17cc.8f848",
                "b128d8f9.8a2e9"
            ]
        ]
    },
    {
        "id": "b2378e3c.63305",
        "type": "json",
        "z": "639988f9.0266c",
        "name": "jsonString of access Token",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "fbef2230.ac2438",
                "51022bf4.ad3774"
            ]
        ]
    },
    {
        "id": "b128d8f9.8a2e9",
        "type": "http request",
        "z": "639988f9.0266c",
        "name": "HTTP GET request state of workplace",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "27aef4db.bf0f9c"
            ]
        ]
    },
    {
        "id": "5d178157.35f6",
        "type": "debug",
        "z": "639988f9.0266c",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 400,
        "wires": []
    },
    {
        "id": "27aef4db.bf0f9c",
        "type": "json",
        "z": "639988f9.0266c",
        "name": "jsonString state of workplace",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1340,
        "y": 400,
        "wires": [
            [
                "5d178157.35f6"
            ]
        ]
    },
    {
        "id": "5fb927a8.f99d7",
        "type": "comment",
        "z": "639988f9.0266c",
        "name": "...use access token in Header for HTTP Request to get all workplaces",
        "info": "",
        "x": 1050,
        "y": 260,
        "wires": []
    }
]