Flows/GetCurrentStateofWorkplaceFlow.json
[
    {
        "id": "639988f9.0266c",
        "type": "tab",
        "label": "GetCurrentStateOfWorkplace",
        "disabled": false,
        "info": "A sample how to get an access token and operating state of a workplace from our BridgeAPI."
    },
    {
        "id": "600c3a93.565a7c",
        "type": "http request",
        "z": "639988f9.0266c",
        "name": "HTTP GET acces token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://forcebridgehackathon.force.eco:25443/ffauth/oauth2.0/accessToken?client_id=GitHub&client_secret=GitHub&grant_type=client_credentials&scope=read%20write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "b2378e3c.63305"
            ]
        ]
    },
    {
        "id": "e674f158.b39a4",
        "type": "inject",
        "z": "639988f9.0266c",
        "name": "Execute Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "600c3a93.565a7c"
            ]
        ]
    },
    {
        "id": "51022bf4.ad3774",
        "type": "debug",
        "z": "639988f9.0266c",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "fbef2230.ac2438",
        "type": "function",
        "z": "639988f9.0266c",
        "name": "Add HTTP headers and get state of workplace",
        "func": "var custom = \"Bearer \";\nvar workplaceNumber = \"R_WPL_04\"\ncustom += msg.payload.access_token; \n\nmsg.payload ={};\nmsg.responseUrl={};\nmsg.responseCookies={};\nmsg.redirectList={};\n\nmsg.url = \"https://forcebridgehackathon.force.eco:24443/ffwebservices/api/v3/workplaces?workplaceNumber=\" + workplaceNumber;\n\nmsg.headers = {\n    \"Authorization\" : custom,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "b128d8f9.8a2e9"
            ]
        ]
    },
    {
        "id": "b2378e3c.63305",
        "type": "json",
        "z": "639988f9.0266c",
        "name": "JSON Converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "fbef2230.ac2438",
                "51022bf4.ad3774"
            ]
        ]
    },
    {
        "id": "b128d8f9.8a2e9",
        "type": "http request",
        "z": "639988f9.0266c",
        "name": "Execute HTTP GET request",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 980,
        "y": 420,
        "wires": [
            [
                "27aef4db.bf0f9c"
            ]
        ]
    },
    {
        "id": "5d178157.35f6",
        "type": "debug",
        "z": "639988f9.0266c",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 420,
        "wires": []
    },
    {
        "id": "27aef4db.bf0f9c",
        "type": "json",
        "z": "639988f9.0266c",
        "name": "JSON Converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1230,
        "y": 420,
        "wires": [
            [
                "5d178157.35f6",
                "853d4a71.1aa438"
            ]
        ]
    },
    {
        "id": "5fb927a8.f99d7",
        "type": "comment",
        "z": "639988f9.0266c",
        "name": "...use access token in Header for HTTP Request to get state of workplace",
        "info": "",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "853d4a71.1aa438",
        "type": "function",
        "z": "639988f9.0266c",
        "name": "Extract workplace & operating state from response",
        "func": "msg.payload = \"Workplace \" + msg.payload._embedded.workplaces[0].properties.number + \" is in state: \" + msg.payload._embedded.workplaces[0].properties.operatingState.description;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1380,
        "y": 540,
        "wires": [
            [
                "879a15a6.fa3508"
            ]
        ]
    },
    {
        "id": "879a15a6.fa3508",
        "type": "debug",
        "z": "639988f9.0266c",
        "name": "Write Workplace & State to Debug-Console",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 540,
        "wires": []
    }
]