Flows/GetTokenFlow.json
[
    {
        "id": "5538ad57.d2dd04",
        "type": "tab",
        "label": "GetTokenFlow",
        "disabled": false,
        "info": "A sample how to get an access token from our BridgeAPI"
    },
    {
        "id": "2b1f6fe3.9ca2",
        "type": "http request",
        "z": "5538ad57.d2dd04",
        "name": "HTTP GET acces token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://forcebridgehackathon.force.eco:25443/ffauth/oauth2.0/accessToken?client_id=GitHub&client_secret=GitHub&grant_type=client_credentials&scope=read%20write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "c517c5d7.580da"
            ]
        ]
    },
    {
        "id": "3483981.80e8868",
        "type": "inject",
        "z": "5538ad57.d2dd04",
        "name": "Execute flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "2b1f6fe3.9ca2"
            ]
        ]
    },
    {
        "id": "e84ff7b1.29a1a",
        "type": "debug",
        "z": "5538ad57.d2dd04",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "c517c5d7.580da",
        "type": "json",
        "z": "5538ad57.d2dd04",
        "name": "JSON Converter",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 140,
        "wires": [
            [
                "e84ff7b1.29a1a"
            ]
        ]
    }
]