Flows/GetTokenFlow.json
[
    {
        "id": "5e33bcef.6d9a94",
        "type": "tab",
        "label": "GetTokenFlow",
        "disabled": false,
        "info": "A sample how to get an access token from our BridgeAPI"
    },
    {
        "id": "b2324cbd.35475",
        "type": "http request",
        "z": "5e33bcef.6d9a94",
        "name": "HTTP GET acces token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://forcebridgehackathon.force.eco:25443/ffauth/oauth2.0/accessToken?client_id=GitHub&client_secret=GitHub&grant_type=client_credentials&scope=read%20write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "6783072.c950378"
            ]
        ]
    },
    {
        "id": "53d95a7b.d1d364",
        "type": "inject",
        "z": "5e33bcef.6d9a94",
        "name": "Execute flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "b2324cbd.35475"
            ]
        ]
    },
    {
        "id": "6783072.c950378",
        "type": "debug",
        "z": "5e33bcef.6d9a94",
        "name": "Log response",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 60,
        "wires": []
    }
]